#index{
	background-image: url("../img/fondo-index.jpg");
	font-family: Garamond;
	font-size: 20px;
}

#Examen{
	background-image: url("../img/fondo-examen.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;/*que no se repita el fondo*/

	font-family: Garamond;
	font-size: 25px;
}

#degradado{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 50px;
}
#marca{
    height: 250px;
    width: 550px;
    margin-right: 50px;
    float: right;
}

p{
	margin: 10px;
}

#encabezado{
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.5);
}
#botones{
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0px;
	position: relative;
	margin-top: 2px;
}

#navegacion{
	position: relative;
}

#Opcion1,#Opcion2,#Opcion3,#Opcion4{
	text-align: center;
	font-size: 25px;

	background-color:  #f2f3f4 ;
	width: 150px;
	height: 30px;
	color: black;

	position: relative;
	margin-left: 50px;

	float: left;
	margin-top: 2px;

	border: solid;
}

#Informacion,#Ubicacion{
	width: 100%;
	height: auto;
	min-height: 600px;
	background-color: #f2f3f4;
	margin-top: -8px;
	text-indent: 10px;
}

#logo{
	height: 250px;
	width: 250px;
}

#Ubicacion{
	display: none;
}

#test{
	display: none;
	width: 100%;
    height: auto;
    min-height: 600px;
    background-color: #f2f3f4;
    margin-top: 2px;
    text-indent: 10px;
    padding-left:50px;
}

#mapa{
	margin: 15px;
	width:40%; 
	height:40%;
}

#fotos{
	display: none;
	width: 100%;
    height: auto;
    min-height: 600px;
    background-color: #f2f3f4;
    margin-top: 2px;
    text-indent: 10px;
    padding-left:50px;
}

/*Dar formato y estilo a los check box*/
.containerBox{
	display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.containerBox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkMarckBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.containerBox:hover input ~ .checkMarckBox {
    background-color:  rgba(255, 255, 255, 0.5);
}

.checkMarckBox:after {
    content: "";
    position: absolute;
    display: none;
}
.containerBox input:checked ~ .checkMarckBox:after {
    display: block;
}
.containerBox .checkMarckBox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Dar formato y estilo a los radio*/

.containerRadio{
	display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.containerRadio input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkMarckRadio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.containerRadio:hover input ~ .checkMarckRadio {
    background-color:  rgba(255, 255, 255, 0.5);
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkMarckRadio:after {
    content: "";
    position: absolute;
    display: none;
}
.containerRadio input:checked ~ .checkMarckRadio:after {
    display: block;
}
.containerRadio .checkMarckRadio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
#corregir{
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}
.a{
    background-color: rgba(255 , 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    width: 200px;
}
.select{
    background-color: rgba(255 , 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
}
.Mselect{
    background-color: rgba(255 , 255, 255, 0.5);
    border-radius: 10px;
}
#StartExamen{
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    display: 
}